:root {
	/* Colors */
	/* --accent: #E63946; */
	--accent: #1d3557;
	/* original background, includes footer text */ 
	/* --background: #FAF9F8; */
	/* --background: #eeb6a5; */
	/* original header background */
	/* --lightAccent: #A8DAE5; */
	--lightAccent: #eeb6a5;
	--lighterAccent: #E6E8E4;
	--dark: #457B9D;
	--darker: #1D3557;
	--slate: #2F3948;

	--white: #fff;
	--black: #152030;

	--ink: var(--slate);
	--paper: var(--background);

	/**
	 * These fonts are broken out into two separate variables from a previous iteration. I left
	 * it in because it's nice to be able to split out the heading and body fonts.
	 */
	--accentFont: 'Atkinson Hyperlegible', Georgia, Times, serif;
	--primaryFont: 'Atkinson Hyperlegible', sans-serif;
	--codeFont: 'Fira Code', monospace;

	/* add graph paper background */
	/* background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px; */
		/* background-color: #f7f0e7; */
}
